*{
  padding: 0;
  margin 0;
}

/* Farge variabler*/
:root {
  /*Farge variabler*/
  --primaryColor: rgb(51, 25, 0); /*Brown*/
  --secondaryColor: rgb(242, 203, 5); /*Honey*/
  --beeColorOne: rgb(246,224,0); /*Bee Yellow*/
  --beeColorTwo: rgb(187,101,40); /*Ruddy Brown*/
  --beeColorThree: rgb(205,122,0); /*Mustard Brown*/
  --beeColorFour: rgb(237,167,62); /*Meat Brown*/
  --beeColorFive: rgb(237,188,78); /*Maximum Yellow Red*/
  --beeColorSix: rgb(250,211,105); /*Crayola's Orange-Yellow*/
}

.dark {
  background: var(--primaryColor);
  color: var(--beeColorThree);
}

.light {
  background-color: var(--beeColorSix);
  color: var(--primaryColor);
}


/*header Display might change*/
.header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0, 16px;
 height: 100px; 
}

.headerIcon {
  height: 32px;
  width: 32px;
}

/*nav design*/
.hidden {
  display: none;
}

.icon {
  background-color: var(--beeColorSix);
  border-radius: 4px;
  padding: 4px;
}

a{
  color: var(--beeColorThree);
  text-decoration: none;
}

.listStyling{
  list-style: none;
  padding: 0;
  margin: 0;
}